# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Modelos (demasiado pesados para GitHub)
*.onnx
*.bin

# Temporales de la app
uploads/
*.wav
*.mp3
# Datos de proyectos (locales)
projects/
*.wav.json
